{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real-Time Image Segmentation</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Include Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'segmentation/css/base_styles.css' %}" />
</head>
  <body>
    <header>
      <h1>Real-Time Image Segmentation</h1>
      <br>
      <nav>
        <ul>
          <li><a href="{% url 'mysite' %}">Home</a></li>
          <li><a href="{% url 'my_images' %}">My Images</a></li>
          <li>
            <a href="{% url 'performance_metrics' %}">Performance Metrics</a>
          </li>
          <li><a href="{% url 'feedback' %}">Feedback</a></li>
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <br /><br />
    <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
  </body>
</html>
