{% extends 'segmentation/base.html' %} {% block content %}
<section id="feedback-section">
  <h3>Feedback</h3>
  <p>
    We value your feedback. Please let us know what you think about our
    application.
  </p>
  <form method="post" action="{% url 'feedback' %}">
    {% csrf_token %}
    <textarea
      name="feedback"
      rows="4"
      cols="50"
      placeholder="Enter your feedback here..."
    ></textarea>
    <br />
    <button type="submit">Submit</button>
  </form>
</section>
{% endblock %}
